			<!--
			<div class="dialogs">
				<div class="control">
					<button class="open"></button>
					<span>Переписка с Отправитель</span>	
				</div>
				<div class="noShowMsg">
					<div class="msgOne in">
						<img src="images/icons_user/avatar.png" />
						<span>Отправитель</span>
						<span> 15 : 20 </span>
						<p>hello, i can you help ?</p>	
					</div>
				</div>
			</div>
			
			<div class="dialogs">
				<div class="control">
					<button class="open"></button>
					<span>Переписка с Отправитель</span>	
				</div>
				<div class="noShowMsg">
					<div class="msgOne in">
						<img src="images/icons_user/avatar.png" />
						<span>Отправитель</span>
						<span> 15 : 20 </span>
						<p>hello, i can you help ?</p>	
					</div>
					<div class="msgOne in">
						<img src="images/icons_user/avatar.png" />
						<span>Отправитель</span>
						<span> 15 : 20 </span>
						<p>hello, i can you help ?</p>	
					</div>
					<div class="msgOne out">
						<img src="images/icons_user/avatar.png" />
						<span>Я</span>
						<span> 15 : 22 </span>
						<p>no, Thank you</p>	
					</div>
				</div>
			</div>
			-->